
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="annuals-link" aria-current="page">Annuals</a>
  </li>
  <li class="nav-item">
    <a aria-current="page" id="perennials-link" class="nav-link">Perennials</a>
  </li>
</ul>

<div id="annuals-wrapper" class="bg-danger" style="width: 100px; height: 100px">
</div>
<div class="bg-primary" id="perennials-wrapper" style="width: 100px; height: 100px">
</div>

<%= javascript_pack_tag "plantsale" %>
