<div class="bg-plantsale">
  <h1 class="plantsale-title">
    TAMU Horticulture Club Plant Sale
  </h1>
  <div class="plantsale-wrapper">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="annuals-link" aria-current="page">Annuals</a>
      </li>
      <li class="nav-item">
        <a aria-current="page" id="perennials-link" class="nav-link">Perennials</a>
      </li>
    </ul>

    <div id="annuals-wrapper" class="bg-danger" style="">
    </div>
    <div class="bg-primary" id="perennials-wrapper" style="">
    </div>
  </div>
</div>
<%= javascript_pack_tag "plantsale_react" %>

