<div class="bg-plantsale">
  <h1 class="plantsale-title">
    TAMU Horticulture Club Plant Sale
  </h1>
  <div class="plantsale-wrapper">
    <div id="annuals-wrapper" class="bg-danger" style="">
    </div>
    <div class="bg-primary" id="perennials-wrapper" style="">
    </div>
  </div>
</div>
<%= javascript_pack_tag "plantsale_react" %>

